.hero-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rbga(0,0,0,0);
    padding: 1rem;
    background-size: cover;
    z-index: 3000;
    width: 100%;
}

.hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.2);
    padding: 1rem;
    color: #fff
}

.hero-text {
    margin: 1rem;
}

.hero-text h1 {
    font-weight: 400;
    font-size: 2.2rem;
}

.hero-text h1:hover {
    cursor: default;
}

.hero-text h2 {
    font-weight: 400;
    font-size: 1.4rem;
}

.hero-container h1 {
    font-weight: 200;
    margin: 0;
}

.hero-btns-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.hero-btn {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.75rem;
    margin: 0.5rem;
    font-size: 1.2em;
    transition: 100ms;
}

.hero-btn:hover {
    color: #888;
    border-color: #888;
}


@media (min-width: 768px) {
    .hero-container {
        height: 34rem;
    }
}


/* Backgrounds */

.hero-bg1 {
    /* background-image: url(../../img/hero/hero-img1.jpg); */
    background: red;
}

.hero-bg2 {
    /* background: url(../../img/hero/hero-img2.jpg); */
    background: blue;
}

.hero-bg3 {
    background: url(../../img/hero/hero-img3.jpg);
}


/* Flicking CSS */

.flicking-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

.flicking-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
    background-size: cover;
    background-position: center;
}

.flicking-panel img {
    max-width: 100%;
}

.hero-filter {
    filter: sepia(30%);
    filter: contrast(75%);
}