.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    /* background: #999; */
    padding: 1rem;
    background-size: cover;
}

.hero-text {
    margin: 1rem;
}

.hero-container h1 {
    font-weight: 200;
    margin: 0;
}

.hero-btns-row {
    display: flex;
    flex-direction: row;
}

.hero-btn {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.75rem;
    margin: 0.5rem;
    font-size: 1.2em;
}

.hero-btn:hover {
    color: #333;
    border-color: #333;
}

.hero-carousel {
    margin: 0.5rem;
    padding: 0.25rem;
}

.hero-carousel svg {
    margin: 0 0.3rem;
    fill: #fff;
    opacity: 40%;
    cursor: pointer;
    transition-duration: 150ms;
}

.hero-carousel svg:hover, .carousel-selection {
    opacity: 100%;
    box-shadow: 0 0 10px #fff;
}

@media (min-width: 768px) {
    .hero-container {
        height: 34rem;
    }

    .hero-carousel {
        display: block;
        position: relative;
        bottom: -28%;
    }
}


/* Backgrounds */

.hero-bg1 {
    /* background-image: url(../../img/hero/hero-img1.jpg); */
    background: red;
}

.hero-bg2 {
    /* background: url(../../img/hero/hero-img2.jpg); */
    background: blue;
}

.hero-bg3 {
    background: url(../../img/hero/hero-img3.jpg);
}