.contact-container {
  display: flex;
  padding: 1rem;
  color: #666;
  background: var(--clr-grey1);
  flex-direction: column;
}

.contact-div {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 0;
}

.contact-text {
  width: 75%;
}

.contact-text p {
  font-size: 0.8em;
}

.contact-div form {
  display: flex;
  flex-direction: column;
}

#contact-name,
#contact-subject {
  background: var(--clr-grey2);
}

.contact-div form button {
  width: 6rem;
}

.contact-div form textarea {
  height: 10rem;
}

@media (min-width: 768px) {
  .contact-container {
    flex-direction: row;
    padding: 2rem;
  }

  .contact-text {
    width: 60%;
  }

  .contact-div {
    padding: 1rem;
  }

  .contact-div form {
    width: 100%;
  }
}

@media (min-width: 1100px) {
  .contact-container {
    justify-content: center;
    padding: auto 2rem;
  }

  .contact-div {
    width: 28rem;
  }
}

/* Contact alerts */

.contact-alert {
  text-align: center;
  color: #333;
  font-weight: 400;
  font-size: 1.1em;
  text-shadow: #fff 1px;
  transition-duration: 300;
}

.contact-alert-success {
  background: rgb(51, 240, 139);
}

.contact-alert-error {
  background: rgba(115, 163, 202, 0.924);
}
