@import './components/navbar/navbar.css';
@import './components/hero/hero.css';
@import './components/about/about.css';
@import './components/projects/projects.css';
@import './components/contact/contact.css';
@import './components/footer/footer.css';

:root {
  --clr-grey1: rgba(0, 0, 0, 0.03);
  --clr-grey2: rgba(0, 0, 0, 0.1);
  --clr-grey3: rgba(0, 0, 0, 0.13);

  --clr-accent1: #6a8eae;

  --small: 479px;
  --medium: 767px;
  --large: 768px;
}

.App {
  margin: 0;
  padding: 0;
}

.bottom {
  border-bottom: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 1rem 0;
}

input,
textarea {
  border: none;
  font-family: inherit;
  font-size: 1em;
  font-weight: 100;
  padding: 1rem 0.5rem;
}

button,
.form-submit {
  border: none;
  padding: 1rem;
  font-family: inherit;
  font-size: 1em;
  font-weight: 100;
  cursor: pointer;
  background: var(--clr-grey3);
  color: #fff;
  transition-duration: 100ms;
}

button:hover,
.form-submit:hover {
  background: var(--clr-accent1);
}

/* Container for content on large screens */

@media (min-width: 900px) {
  .max-width {
    max-width: 25rem;
    display: flex;
    flex-direction: row;
  }
}
